@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.topBar {
    top: 20px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 50px;
}

body {
    overflow-x: hidden;
}

.blue {
    background-color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.red {
    background-color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);

}

.curve::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.spacer {
    aspect-ratio: 960/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.layer1 {
    position: absolute;
    z-index: 0;
    margin-top: 10px;
    background-image: url('../../assets/layer1.svg');
}

.layer2 {
    background-image: url('../../assets/layer2.svg');
}

.flip {
    transform: rotate(180deg);
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 262px;
}

.wave .shape-fill {
    fill: hsl(240, 3%, 6%);
}

.title {
    margin-left: 750px;
    margin-top: -23px;
    font-weight: 900;
    font-size: 56px;
    width: 284px;
}

.curved {
    background-color: #ff3c00;
    color: white;
    margin-top: -79px;
}

.curved p {
    margin-left: 700px;
    width: 400px;
}

.curved svg {
    display: block;
    margin-top: -290px;
    position: absolute;
}

.curvedUp {
    background-color: white;
}

.curvedUp svg {
    margin-top: -100px;
    display: block;
    z-index: 1;

}

.appbody {
    position: relative;
    background-color: rgb(239, 237, 237);
}

.shadows-into-light-regular {
    display: "flex";
    flex-direction: "column";
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(71, 202, 235);
    font-size: 30px;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
}