@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.topBar {
    top: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 50px;
}

body {
    overflow-x: hidden;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 200px;
    margin-right: 150px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile__logout {
    display: flex;
    gap: 10px;
    flex-direction: column;
}